.home{
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url("../img/Background.jpg");
  background-repeat: no-repeat;
  background-size:100%;
  color: white;
  margin: 0px;
  padding: 0px;
}

.cell {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url("../img/prisoncell.png");
  color: white;
  margin: 0px;
  padding: 0px;
}

.office{
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url("../img/prisonoffice.png");
  color: white;
  margin: 0px;
  padding: 0px;
}

.yard{
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url("../img/prisonyard.png");
  color: white;
  margin: 0px;
  padding: 0px;
}

.winpagina{
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url("../img/escapeprison.png");
  color: white;
  margin: 0px;
  padding: 0px;
}

a {
  color: white;
  text-decoration: none;
}


.flex2{
  display: flex;
  justify-content:center;
  margin: auto;
}

.info{
  background-color: rgba(0, 0, 0, 0.519);
  border-radius: 50px;
  padding: 10px;
}

.hints-drop{
  display: flex;
  flex-direction: row;
}

.hints{
  display: none;
  background-color: rgba(0, 0, 0, 0.519);
  border-radius: 50px;
  padding: 10px;
  text-align: start;
  position: absolute;
}

.hints-drop:hover .hints{
  display: block;
}

.box {
  position: absolute;
  background-image: url(../img/red\ circle.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.room1box1 { top: 200px; left: 930px; width: 300px; height: 300px; border-radius: 100px; opacity: 0; transition: 0.5s;}
.room1box1:hover{ opacity: 0.5;}
.room1box2 { top: 540px; left: 900px; width: 350px; height: 100px; opacity: 0; transition: 0.5s;}
.room1box2:hover{ opacity: 0.5;}
.room1box3 { top: 510px; left: 500px; width: 150px; height: 50px; opacity: 0; transition: 0.5s;}
.room1box3:hover{ opacity: 0.5;}

.room2box1 { top: 280px; left: 1000px; width: 280px; height: 180px; opacity: 0; transition: 0.5s;}
.room2box1:hover{ opacity: 0.5;}
.room2box2 { top: 600px; left: 900px; width: 380px; height: 180px; opacity: 0; transition: 0.5s;}
.room2box2:hover{ opacity: 0.5;}
.room2box3 { top: 260px; left: 500px; width: 160px; height: 200px; opacity: 0; transition: 0.5s;}
.room2box3:hover{ opacity: 0.5;}

.room3box1 { top: 380px; left: 300px; width: 180px; height: 150px; opacity: 0; transition: 0.5s;}
.room3box1:hover{ opacity: 0.5;}
.room3box2 { top: 670px; left: 750px; width: 550px; height: 150px; border-top-right-radius: 300px; opacity: 0; transition: 0.5s;}
.room3box2:hover{ opacity: 0.5;}
.room3box3 { top: 560px; left: 110px; width: 180px; height: 100px; opacity: 0; transition: 0.5s;}
.room3box3:hover{ opacity: 0.5;}

#overform {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

#nextpage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.formmodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(75, 75, 75);
  padding: 20px;
  border-radius: 10px;
  display: none;
  width: 300px;
}

.teamname1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.subform{
  margin-top: 50px;
  padding: 5px 10px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.481);
  border-color: white;
  border-radius: 10px;
  border-width: 2px;
  color: white;
  padding: 10px;
  width: 100px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.481);
  padding: 20px;
  border-color: white;
  border-width: 2px;
  border-style:groove;
  border-radius: 10px;
  display: none;
  width: 300px;
}

#endroom {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.481);
  padding: 20px;
  border-color: white;
  border-width: 2px;
  border-style:groove;
  border-radius: 10px;
  display: none;
  width: 300px;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.481);
  border-color: white;
  border-radius: 10px;
  border-width: 2px;
  color: white;
  padding: 10px;
  width: 100px;
}

/* winpagina */

.windiv {
  display: flex;
  flex-direction: row;
}

.winimg {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 99%;
}

.winp {
  display: flex;
  align-items: center;
}

/* verliesscherm */

#overlayverlies {
  position: fixed; 
  width: 100%; 
  height: 100%; 
  margin-top: 125px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.27); 
  z-index: 2; 
  cursor: pointer; 
  display: none;
}

.verliesimg{
  display: flex;
  justify-content: center;
  width: 40%;
  height: 99%;
  border-radius: 30px;
  margin-left: 100px;
  filter: contrast(200%);
  opacity: 70%;
}

.verliesp{
  display: flex;
  align-items: center;
  font-size: 30px;
}

.organiseverlies{
  display: flex;
  flex-direction: column;
  align-items: center;
}